<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body onload="loginOnload()">
<script type="text/javascript" src="../static/js/login.js" th:src="@{../js/login.js}"></script>

<h3>Auth</h3>
<input type="text" id="login" placeholder="login"><br>
<input type="password" id="password" placeholder="password">

<button onclick="login()">Submit</button><br>
<a href="/">home</a><br>
<div id="message"></div>
</body>
</html>